<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Item</title>
</head>
<body>
    <h2>Category List</h2>
    <table border="1">
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category[0] }}</td>
                <td>{{ category[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br>
    <form action="/add_item" method="post">
        <input type="hidden" name="id" value="{{ current_id }}">

        <label for="item_code">Code:</label>
        <select id="item_code" name="code">
            {% for category in categories %}
            <option value="{{ category[0] }}">{{ category[0] }} {{ category[1] }}</option>
            {% endfor %}
        </select><br>

        <label for="item_name">Name:</label>
        <input id="item_name" type="text" name="name" value="" required><br>

        <label for="item_price">Price:</label>
        <input id="item_price" type="number" name="price" value="" required><br>

        <label for="item_stock">Stock:</label>
        <input id="item_stock" type="number" name="stock" value="" required><br>
    
        <input type="submit" name="send" value="add"><br>
    </form>
    <form action="/error_return" method="post">
        <input type="hidden" name="id" value="{{ current_id }}">
        <input type="submit" name="send" value="cancel">
    </form>
</body>
</html>