<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit password</title>
</head>
<body>
    <h2>Edit password</h2>
    <table border="1">
        <thead>
            <th>ID</th>
            <th>Balance</th>
            <th>Rating</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ user_info[0][0] }}</td>
                <td>{{ user_info[0][2] }}</td>
                <td>{{ user_info[0][3] }}</td>
            </tr>
        </tbody>
    </table><br>
    <form action="/edit_password" method="post">
        <input type="hidden" name="id" value="{{ current_id }}">

        <label for="user_pwd">OLD PASSWORD:</label><br>
        <input id="user_pwd" type="password" name="old_pwd" value=""><br>

        <label for="user_pwd">NEW PASSWORD:</label><br>
        <input id="user_pwd" type="password" name="new_pwd" value=""><br><br>
    
        <input type="submit" name="send" value="change">
    </form>
    <form action="/error_return" method="post">
        <input type="hidden" name="id" value="{{ current_id }}">
        <input type="submit" name="send" value="return">
    </form>
</body>
</html>